<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumor Segmentation</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">Tumor Segmentation</div>
    </div>
    <main>
        <h1>Upload an image for segmentation</h1>
        <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data">
            <label for="file-input" id="file-label" class="file-label">Select Image</label>
            <input id="file-input" type="file" name="file" accept="image/*" required>
            <button type="submit" class="file-label">Run</button>
        </form>
        <div id="preview-container" class="preview-container" style="display: none;">
            <img id="image-preview" class="image-preview" alt="Selected Image">
            <p id="image-name" class="image-name"></p>
        </div>
    </main>
    <div id="loading-spinner" class="spinner-container" style="display: none;">
        <div class="spinner"></div>
        <p>Processing image</p>
    </div>
    <script src="/static/js/index.js"></script>
</body>

</html>
