<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tumor Segmentation App</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">Tumor Segmentation App</div>
    </div>

    <main>
        <h1>Upload an image for segmentation</h1>
        <form id="upload-form" action="/upload/" method="post" enctype="multipart/form-data">
            <label for="file-input" class="file-label">Select Image</label>
            <input id="file-input" type="file" name="file" accept="image/*" required>
            <button type="submit">Upload</button>
        </form>


    </main>

    <div id="loading-spinner" class="spinner-container" style="display: none;">
        <div class="spinner"></div>
        <p>Processing image...</p>
    </div>

    <script>
        const form = document.getElementById("upload-form");
        const spinner = document.getElementById("loading-spinner");

        form.addEventListener("submit", () => {
            spinner.style.display = "flex";
        });
    </script>
</body>

</html>
